<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>filterpv</filter-name>
        <filter-class>filterpv</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/validatecom.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/trashrd.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/trashoperation.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/trash.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/sentoperation.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/sent.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/mail.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/logout.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/inboxoperation.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/inbox.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/draftresend.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/draftoperation.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/draft.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/delete.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterpv</filter-name>
        <url-pattern>/compose.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listensere</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
